<div class="container py-5">
  <h2>イベントエントリー</h2>
  <%= form_with model: @entry, url: applicants_event_event_entries_path do |f| %>
    <div class="form-group">
      <h5>イベント名</h5>
      <p><%= @event.name %></p>
    </div>
    <div class="form-group">
      <%= f.text :body, '意気込み' %>
      <%= f.text_area :body, row: 5, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit '応募する', class: 'btn btn-success'%>
    </div>
  <% end %>
</div>